// animation-fill-mode - http://dev.w3.org/csswg/css3-animations/#the-animation-fill-mode-property-
@mixin animation-fill-mode(
  $mode-1: none,
  $mode-2: false, $mode-3: false, $mode-4: false, $mode-5: false, $mode-6: false, $mode-7: false, $mode-8: false, $mode-9: false,
  $prefix: false
  ) {

  $full: compact($mode-1, $mode-2, $mode-3, $mode-4, $mode-5, $mode-6, $mode-7, $mode-8, $mode-9);
  $value: $full;

  // none | forwards | backwards | both
  @if $prefix {
    @include declaration(animation-fill-mode, $value, $prefix);
  } @else {
    @include experimental(animation-fill-mode, $value);
  }

}