// animation-direction - http://www.w3.org/TR/css3-animations/#the-animation-direction-property-
@mixin animation-direction(
  $direction-1: normal,
  $direction-2: false, $direction-3: false, $direction-4: false, $direction-5: false, $direction-6: false, $direction-7: false, $direction-8: false, $direction-9: false,
  $prefix: false
  ) {

  $full: compact($direction-1, $direction-2, $direction-3, $direction-4, $direction-5, $direction-6, $direction-7, $direction-8, $direction-9);
  $value: $full;

  // normal | alternate
  @if $prefix {
    @include declaration(animation-direction, $value, $prefix);
  } @else {
    @include experimental(animation-direction, $value);
  }

}