@mixin fadeOutLeft($prefix) {
  0% {
    opacity: 1;
    @include transform(translateX(0), $prefix);
  }
  100% {
    opacity: 0;
    @include transform(translateX(-20px), $prefix);
  }
}

@mixin include-fadeOutLeft {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes fadeOutLeft { @include fadeOutLeft(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes fadeOutLeft { @include fadeOutLeft(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes fadeOutLeft { @include fadeOutLeft(moz); }
	}
	@if $experimental-support-for-microsoft {
	  @-ms-keyframes fadeOutLeft { @include fadeOutLeft(ms); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes fadeOutLeft { @include fadeOutLeft(o); }
	}
	@keyframes fadeOutLeft { @include fadeOutLeft(none); }

	.fadeOutLeft {
	  @include animation-name(fadeOutLeft);
	}
}

