@mixin fadeOutRight($prefix) {
  0% {
    opacity: 1;
    @include transform(translateX(0), $prefix);
  }
  100% {
    opacity: 0;
    @include transform(translateX(20px), $prefix);
  }
}

@mixin include-fadeOutRight {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes fadeOutRight { @include fadeOutRight(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes fadeOutRight { @include fadeOutRight(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes fadeOutRight { @include fadeOutRight(moz); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes fadeOutRight { @include fadeOutRight(o); }
	}
	@keyframes fadeOutRight { @include fadeOutRight(none); }

	.fadeOutRight {
	  @include animation-name(fadeOutRight);
	}
}

