@mixin fadeOutUpBig($prefix) {
  0% {
    opacity: 1;
    @include transform(translateY(0), $prefix);
  }
  100% {
    opacity: 0;
    @include transform(translateY(-2000px), $prefix);
  }
}

@mixin include-fadeOutUpBig {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes fadeOutUpBig { @include fadeOutUpBig(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes fadeOutUpBig { @include fadeOutUpBig(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes fadeOutUpBig { @include fadeOutUpBig(moz); }
	}
	@if $experimental-support-for-microsoft {
	  @-ms-keyframes fadeOutUpBig { @include fadeOutUpBig(ms); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes fadeOutUpBig { @include fadeOutUpBig(o); }
	}
	@keyframes fadeOutUpBig { @include fadeOutUpBig(none); }

	.fadeOutUpBig {
	  @include animation-name(fadeOutUpBig);
	}
}

