@mixin bounceOutLeft($prefix) {
  0% {
    @include transform(translateX(0), $prefix);
  }
  20% {
    opacity: 1;
    @include transform(translateX(20px), $prefix);
  }
  100% {
    opacity: 0;
    @include transform(translateX(-2000px), $prefix);
  }
}

@mixin include-bounceOutLeft {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes bounceOutLeft { @include bounceOutLeft(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes bounceOutLeft { @include bounceOutLeft(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes bounceOutLeft { @include bounceOutLeft(moz); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes bounceOutLeft { @include bounceOutLeft(o); }
	}
	@keyframes bounceOutLeft { @include bounceOutLeft(none); }

	.bounceOutLeft {
	  @include animation-name(bounceOutLeft);
	}
}

