@mixin bounceInDown($prefix) {
  0% {
    opacity: 0;
    @include transform(translateY(-2000px), $prefix);
  }
  60% {
    opacity: 1;
    @include transform(translateY(30px), $prefix);
  }
  80% {
    @include transform(translateY(-10px), $prefix);
  }
  100% {
    @include transform(translateY(0), $prefix);
  }
}

@mixin include-bounceInDown {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes bounceInDown { @include bounceInDown(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes bounceInDown { @include bounceInDown(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes bounceInDown { @include bounceInDown(moz); }
	}
	@if $experimental-support-for-microsoft {
	  @-ms-keyframes bounceInDown { @include bounceInDown(ms); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes bounceInDown { @include bounceInDown(o); }
	}
	@keyframes bounceInDown { @include bounceInDown(none); }

	.bounceInDown {
	  @include animation-name(bounceInDown);
	}
}