@import "attention-seekers/bounce";
@import "attention-seekers/flash";
@import "attention-seekers/pulse";
@import "attention-seekers/shake";
@import "attention-seekers/swing";
@import "attention-seekers/tada";
@import "attention-seekers/wobble";