// Normal
@import "fading-exits/fadeOut";
@import "fading-exits/fadeOutUp";
@import "fading-exits/fadeOutDown";
@import "fading-exits/fadeOutLeft";
@import "fading-exits/fadeOutRight";

// Big
@import "fading-exits/fadeOutUpBig";
@import "fading-exits/fadeOutDownBig";
@import "fading-exits/fadeOutLeftBig";
@import "fading-exits/fadeOutRightBig";
