// Normal
@import "fading-entrances/fadeIn";
@import "fading-entrances/fadeInUp";
@import "fading-entrances/fadeInDown";
@import "fading-entrances/fadeInLeft";
@import "fading-entrances/fadeInRight";

// Big
@import "fading-entrances/fadeInUpBig";
@import "fading-entrances/fadeInDownBig";
@import "fading-entrances/fadeInLeftBig";
@import "fading-entrances/fadeInRightBig";
