@import "rotating-entrances/rotateIn";
@import "rotating-entrances/rotateInDownLeft";
@import "rotating-entrances/rotateInDownRight";
@import "rotating-entrances/rotateInUpLeft";
@import "rotating-entrances/rotateInUpRight";
