@mixin swing($prefix) {
	20%  { @include transform(rotate(15deg), $prefix); }
	40%  { @include transform(rotate(-10deg), $prefix); }
	60%  { @include transform(rotate(5deg), $prefix); }
	80%  { @include transform(rotate(-5deg), $prefix); }
	100% { @include transform(rotate(0deg), $prefix); }
}

@mixin include-swing {
	@if $experimental-support-for-webkit {
      20%, 40%, 60%, 80%, 100% { @include transform-origin(top center, $prefix); }
      @-webkit-keyframes swing { @include swing(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes swing { @include swing(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes swing { @include swing(moz); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes swing { @include swing(o); }
	}
	@keyframes swing { @include swing(none); }

	.swing {
		@include transform-origin(top center);
		@include animation-name(swing);
	}
}