@mixin fadeOutDown($prefix) {
  0% {
    opacity: 1;
    @include transform(translateY(0), $prefix);
  }
  100% {
    opacity: 0;
    @include transform(translateY(20px), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes fadeOutDown { @include fadeOutDown(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes fadeOutDown { @include fadeOutDown(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes fadeOutDown { @include fadeOutDown(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes fadeOutDown { @include fadeOutDown(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes fadeOutDown { @include fadeOutDown(o); }
}
@keyframes fadeOutDown { @include fadeOutDown(none); }

.fadeOutDown {
  @include animation-name(fadeOutDown);
}