@mixin fadeInDown($prefix) {
  0% {
    opacity: 0;
    @include transform(translateY(-20px), $prefix);
  }
  100% {
    opacity: 1;
    @include transform(translateY(0), $prefix);
  }
}

@mixin include-fadeInDown {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes fadeInDown { @include fadeInDown(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes fadeInDown { @include fadeInDown(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes fadeInDown { @include fadeInDown(moz); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes fadeInDown { @include fadeInDown(o); }
	}
	@keyframes fadeInDown { @include fadeInDown(none); }

	.fadeInDown {
	  @include animation-name(fadeInDown);
	}
}

