!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "/stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag("/javascripts/jquery-1.5.min.js", "/javascripts/application.js")
  %body
    = yield