@mixin rotateOut($prefix) {
  0% {
    @include transform-origin(center center, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
  100% {
    @include transform-origin(center center, $prefix);
    @include transform(rotate(200deg), $prefix);
    opacity: 0;
  }
}

@mixin include-rotateOut {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes rotateOut { @include rotateOut(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes rotateOut { @include rotateOut(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes rotateOut { @include rotateOut(moz); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes rotateOut { @include rotateOut(o); }
	}
	@keyframes rotateOut { @include rotateOut(none); }

	.rotateOut {
	  @include animation-name(rotateOut);
	}
}

