@mixin rotateOutDownLeft($prefix) {
  0% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
  100% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(90deg), $prefix);
    opacity: 0;
  }
}

@mixin include-rotateOutDownLeft {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes rotateOutDownLeft { @include rotateOutDownLeft(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes rotateOutDownLeft { @include rotateOutDownLeft(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes rotateOutDownLeft { @include rotateOutDownLeft(moz); }
	}
	@if $experimental-support-for-microsoft {
	  @-ms-keyframes rotateOutDownLeft { @include rotateOutDownLeft(ms); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes rotateOutDownLeft { @include rotateOutDownLeft(o); }
	}
	@keyframes rotateOutDownLeft { @include rotateOutDownLeft(none); }

	.rotateOutDownLeft {
	  @include animation-name(rotateOutDownLeft);
	}
}

