@mixin rotateOutUpRight($prefix) {
  0% {
    @include transform-origin(right bottom, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
  100% {
    @include transform-origin(right bottom, $prefix);
    @include transform(rotate(90deg), $prefix);
    opacity: 0;
  }
}

@mixin include-rotateOutUpRight {
	@if $experimental-support-for-webkit {
	  @-webkit-keyframes rotateOutUpRight { @include rotateOutUpRight(webkit); }
	}
	@if $experimental-support-for-khtml {
	  @-khtml-keyframes rotateOutUpRight { @include rotateOutUpRight(khtml); }
	}
	@if $experimental-support-for-mozilla {
	  @-moz-keyframes rotateOutUpRight { @include rotateOutUpRight(moz); }
	}
	@if $experimental-support-for-microsoft {
	  @-ms-keyframes rotateOutUpRight { @include rotateOutUpRight(ms); }
	}
	@if $experimental-support-for-opera {
	  @-o-keyframes rotateOutUpRight { @include rotateOutUpRight(o); }
	}
	@keyframes rotateOutUpRight { @include rotateOutUpRight(none); }

	.rotateOutUpRight {
	  @include animation-name(rotateOutUpRight);
	}
}