// Declariation mixin to make it easy to write a declaration with or without a prefix
@mixin declaration($property, $value, $prefix: none) {

  $prefix: unquote($prefix);

  @if $prefix == none {
    #{$property}: $value;
  } @else {
    #{-$prefix}-#{$property}: $value;
  }

}