// animation-timing-function - http://www.w3.org/TR/css3-animations/#animation-timing-function_tag
@mixin animation-timing-function(
  $motion-1: ease,
  $motion-2: false, $motion-3: false, $motion-4: false, $motion-5: false, $motion-6: false, $motion-7: false, $motion-8: false, $motion-9: false,
  $prefix: false
  ) {

  $full: compact($motion-1, $motion-2, $motion-3, $motion-4, $motion-5, $motion-6, $motion-7, $motion-8, $motion-9);
  $value: $full;

  // ease | linear | ease-in | ease-out | ease-in-out
  @if $prefix {
    @include declaration(animation-timing-function, $value, $prefix);
  } @else {
    @include experimental(animation-timing-function, $value);
  }
          
}